body{
    background-image: url("imagens/cifranovo.jpg");
    background-position: left;
    background-repeat: unset;
}
#bemvinda {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    color: rgb(32, 17, 53);
    text-align: center;
    margin: auto;
    width: 100%;
    padding:14px;
}
#explica{
    color: rgb(37, 35, 35);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    width: 700px;
    text-align: justify;
    text-align: center;
    margin: auto;
}
#comousar {
    color: rgb(34, 97, 98);;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:1rem;
}
.inputs {
    text-align: center;
    font-size: 0.5cm;
    width: 90;
    margin: auto;
}
.button{
    text-align: center;
    margin: auto;
}
#cifrar {
    font-size: 0.5cm;
    margin: 0.5cm;
    color: rgb(50, 50, 50);
    background: border-box;
    border-radius: 30px;
}
#descifrar {
    font-size: 0.5cm;
    margin: 0.5cm;
    color: rgb(50, 50, 50);
    background: border-box;
    border-radius: 30px;

}
.print{
    background-color: #1d8b99;
    opacity: 0.7;
    height: 155px;
    width: 449px;
    margin: auto;
    margin-top: 5px;
    padding: 1px;
    border-radius: 57px;
    text-align: center;
}
#paracifrar{
    border-radius: 39px;
    text-align: center;
}
#offset{
    border-radius: 39px;
    text-align: center;
}