
body{
    background-image: url("imagens/cifra4.jpg");
    background-position: left;
    background-repeat: unset;
}
.ola{
    width: 600px;
    text-align: justify;
    text-align: center;
    margin: auto;
}

#inputs {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto
}
#cifrar {
    font-size: 0.5cm;
    margin: 0.5cm;

}
#descifrar {
    font-size: 0.5cm;
    margin: 0.5cm;

}

#bemvinda {
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    background-image: url("imagens/pi.jpg");
    color: black;
    text-align: center;
    margin: auto;
    width: 100%;

}
#explica{
    color: rgb(48, 45, 45);
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    
}


.coiso {
    text-align: center;
    font-size: 0.5cm;
    width: 90;
    margin: auto;
}

.print {
    border-color: cornsilk;
    box-sizing: border-box;
    height: max-content;
    text-align: center;
    justify-content:center;
}

.button{
    text-align: center;
    margin: auto;
}
#usar {
    color:gray;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:1rem;
}
#imagem{
    background-image: url("imagens/fundo.png");
    float: right;
}