body{
    background-image: url("imagens/cifranovo.jpg");
    background-position: left;
    background-repeat: unset;
}
#bemvinda {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    color: rgb(32, 17, 53);
    text-align: center;
    margin: auto;
    width: 100%;
}
#explica{
    color: rgb(37, 35, 35);
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    width: 700px;
    text-align: justify;
    text-align: center;
    margin: auto;
    color: black;
}
#comousar {
    color: rgb(34, 9, 104);
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:1rem;
}
.inputs {
    text-align: center;
    font-size: 0.5cm;
    width: 90;
    margin: auto;
}
.print {
    border-color: cornsilk;
    box-sizing: border-box;
    height: max-content;
    text-align: center;
    justify-content:center;
}
.button{
    text-align: center;
    margin: auto;
}
#cifrar {
    font-size: 0.5cm;
    margin: 0.5cm;
    color: rgb(50, 50, 50);
    background: border-box;
}
#descifrar {
    font-size: 0.5cm;
    margin: 0.5cm;
    color: rgb(50, 50, 50);
    background: border-box;
}
